/* src/css/SettingsPage.css */
.title-main{
  margin-top: 50px;
}
.settings-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .settings-page h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
  }
  
  .settings-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .settings-item {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .settings-item:hover {
    background-color: #f1f1f1;
  }
  
  .settings-item h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .settings-item p {
    margin: 0;
    font-size: 1rem;
    color: #666;
  }
  