/* src/App.css */
@import-normalize;
.App {
  display: flex;
  background-color: #f3f3f4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif, 'Poppins', 'Inter';
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
